  body {
        font-family: sans-serif;
        background: #FFF7CD;
    }

    .container {
        width: 400px;
        margin: 50px auto;
        background:#FDC3A1;
        padding: 20px;
        border-radius: 8px;
    }

    h2 {
        text-align: center; 
    }

    label {
        display: block;
        margin-top: 10px;
        font-weight: bold;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white

    }

    button {
        display: block;        
        margin: 20px auto;     
        width: 40%;
        padding: 10px;
             background-color: 
 #F57799;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    button:hover {
        background:#b33b85 ;
    }
    
/* 📱 Mobile */
@media only screen and (max-width: 480px) {

    .container {
        width: 90%;
    }

    input,
    textarea,
    button {
        width: 100%;
    }
}

/* 📲 Tablet */
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .container {
        width: 70%;
    }
}
