.product-top {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 30px;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}